body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh; /* Asegura que el cuerpo tenga al menos la altura de la pantalla */
}

.container {
    display: flex;
    flex-grow: 1; /* Permite que el contenedor crezca con el contenido */
}

.sidebar {
    background-color: #80004b;
    width: 80px; /* Inicia con un ancho pequeño */
    overflow-x: hidden; /* Esconde el contenido desbordado */
    transition: width 0.3s; /* Transición suave para el cambio de ancho */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    flex-grow: 1; /* Permite que el sidebar crezca con el contenido */
}

.sidebar:hover {
    width: 200px; /* Ancho deseado cuando se pasa el mouse por encima */
}

.sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}

.sidebar .logo img {
    width: 100%;
}

.sidebar .menu-item {
    width: 50%;
    margin-bottom: 70px;
    margin-left: 50px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icon-button img {
    width: 100%;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.icon-button span {
    font-size: 18px;
    opacity: 0; /* Oculta el texto cuando el sidebar está contraído */
    transition: opacity 0.3s; /* Transición suave para el texto */
    margin-left: 0; /* Sin margen cuando el sidebar está contraído */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
}

.sidebar:hover .icon-button span {
    opacity: 1; /* Muestra el texto cuando el sidebar está desplegado */
    margin-left: 20px; /* Añade margen entre el icono y el texto cuando el sidebar está desplegado */
    margin-right: 50px;
}

.main-content {
    background-color: #f5f5f5;
    width: 85%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegúrate de que ocupe toda la altura */
}

.grades-table {
    width: 70%;
    max-width: 800px;
    border-collapse: collapse;
}

.grades-table th, .grades-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.grades-table th {
    background-color: #f2f2f2;
}

.grades-table th a {
    color: #0000EE;
    text-decoration: none;
}

.grades-table th a:hover {
    text-decoration: underline;
}

/* Ajustes de ancho de columna */
.grades-table th:nth-child(1),
.grades-table td:nth-child(1) {
    width: 5%; /* Columna de Grupo más pequeña */
}

.grades-table th:nth-child(2),
.grades-table td:nth-child(2) {
    width: 10%; /* Columna de Curso más grande */
}

.grades-table th:nth-child(3),
.grades-table td:nth-child(3),
.grades-table th:nth-child(4),
.grades-table td:nth-child(4),
.grades-table th:nth-child(5),
.grades-table td:nth-child(5),
.grades-table th:nth-child(6),
.grades-table td:nth-child(6) {
    width: 3%; /* Ajustar el resto de columnas según necesidad */
}
